* {
  margin: 0;
  padding: 0;
  color: #000;
}

body {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/successful-ge3b9b699a_1920.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/successful-ge3b9b699a_1920.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

div {
  width: 60%;
  margin-left: 20%;
}

.completed {
  color: red;
  text-decoration: line-through;
}

table {
  margin-top: 10%;
}
